<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Form</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 p-6">

    <section class="container mx-auto bg-white p-6 rounded-lg shadow-lg">
        <header class="text-2xl font-bold mb-4">Registration Form</header>
        <form class="form" id="registrationForm">
            <h2 id="alert-container" class="text-red-500 mb-4"></h2>
            <div class="flex justify-between">
                <div class="w-1/2 pr-2">
                    <div class="mb-4">
                        <label for="firm-image" class="block text-gray-700">Image:</label>
                        <div class="relative w-full h-48 border rounded-lg overflow-hidden">
                            <img id="imagePreview" src="/static/images/camera.jpg" alt="Default Image" class="object-cover w-full h-full">
                            <div class="absolute inset-0 bg-black bg-opacity-25 flex items-center justify-center opacity-0 hover:opacity-100">
                                <label for="firm-image" class="text-white cursor-pointer">Browse</label>
                            </div>
                        </div>
                        <input type="file" id="firm-image" name="firm-image" accept="image/*" class="hidden">
                    </div>
                   
                    <div class="mb-4">
                        <label class="block text-gray-700">Full Name</label>
                        <input type="text" id="fullName" placeholder="Enter your full name" required class="w-full px-4 py-2 border rounded-lg">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700">Roll No.</label>
                        <input type="text" id="rollNo" placeholder="Enter your roll number" required class="w-full px-4 py-2 border rounded-lg">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700">NRC</label>
                        <input type="text" id="nrc" placeholder="Enter your NRC" required class="w-full px-4 py-2 border rounded-lg">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700">Current Semester</label>
                        <select id="currentSemester" class="w-full px-4 py-2 border rounded-lg">
                            <option value="">Select Current Semester</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                </div>
                <div class="w-1/2 pl-2">
                    <div class="mb-4">
                        <label class="block text-gray-700">Father’s Name</label>
                        <input type="text" id="fathersName" placeholder="Enter your father’s name" required class="w-full px-4 py-2 border rounded-lg">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700">Address</label>
                        <input type="text" id="address" placeholder="Enter your address" required class="w-full px-4 py-2 border rounded-lg">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700">Email Address</label>
                        <input type="email" id="emailAddress" placeholder="Enter your email" required class="w-full px-4 py-2 border rounded-lg">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700">Phone Number</label>
                        <input type="number" id="phoneNumber" placeholder="Enter your phone number" required class="w-full px-4 py-2 border rounded-lg">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700">Birth Date</label>
                        <input type="date" id="birthDate" placeholder="Enter your birth date" required class="w-full px-4 py-2 border rounded-lg">
                    </div>
                </div>
            </div>
            <div class="flex justify-end mt-4">
                <button id="cancel-button" type="button" onclick="backHome()" class="px-4 py-2 bg-gray-500 text-white rounded-lg mr-2">Cancel</button>
                <button id="submit-button" type="button" onclick="validateForm(event)" class="px-4 py-2 bg-blue-500 text-white rounded-lg">Submit</button>
            </div>
        </form>
    </section>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script>
        function backHome() {
            window.location.href = "/?p=student";
        }

        function validateForm(event) {
            event.preventDefault();

            const rollNo = document.getElementById("rollNo").value.trim();
            const nrc = document.getElementById("nrc").value.trim();
            const phoneNumber = document.getElementById("phoneNumber").value.trim();

            const rollNoPattern = /^(1cst|2cs|3cs|4cs|5cs)-([1-9][0-9]?|100)$/;
            const nrcPattern = /^([1-9]|1[0-4])\/[a-zA-Z]{3}\((n|p)\)\d{6}$/;
            const phonePattern = /^(09[246789]\d{8}|(\d{4,9}))$/;

            if (!rollNoPattern.test(rollNo)) {
                alert("Invalid roll number. Roll number must be in the format like 1cst-1 to 1cst-100 and 2cs-1 to 2cs-100 and so on.");
                return false;
            }

            if (!nrcPattern.test(nrc)) {
                alert("Invalid NRC. NRC must be in the format like 14/zln(n)187660 where 14 may be 1 to 14, zln are three characters, (n) is n or p, and 187660 is six digits.");
                return false;
            }

            if (!phonePattern.test(phoneNumber)) {
                alert("Invalid phone number. Phone number must be between 4 and 9 digits, or start with 09 followed by 11 digits with the third digit being 2, 4, 6, 7, 8, or 9.");
                return false;
            }

            // Add event listener to submit button
            const image_uploaded = uploadImage(document.getElementById("firm-image"), 'student');
            image_uploaded
                .then((result) => {
                    if (result.ok) {
                        const registeration_data = {
                            name: document.getElementById("fullName").value,
                            picture_uri: result.uri,
                            roll_no: document.getElementById("rollNo").value,
                            nrc: document.getElementById("nrc").value,
                            current_semester: document.getElementById("currentSemester").value,
                            father_name: document.getElementById("fathersName").value,
                            address: document.getElementById("address").value,
                            email: document.getElementById("emailAddress").value,
                            phone_no: document.getElementById("phoneNumber").value,
                            birth_date: document.getElementById("birthDate").value,
                        };
                        if(register_data("/student/register", registeration_data)) {
                            alert("Successfully registered!");
                            document.getElementById("registrationForm").reset();
                        }
                    }
                })
                .catch((err) => console.error(err));
        }
    </script>

    <script>
        const fileInput = document.getElementById("firm-image");
        const imagePreview = document.getElementById("imagePreview");

        fileInput.addEventListener("change", function () {
            const reader = new FileReader();
            reader.onload = function () {
                imagePreview.src = reader.result;
            };
            reader.readAsDataURL(fileInput.files[0]);
        });
    </script>
</body>
</html>
