<!-- student list -->
<div class="w-full h-full rounded-xl shadow-xl p-5 overflow-scroll" id="pass-container">
    <header class="flex flex-row justify-between w-full">
      <h1 class="font-bold text-slate-400 mb-2">Passes</h1>
      <div class="text-right">
      </div>
    </header>
    
    <section class="flex flex-row justify-between w-full mb-2">
      <select name="" id="get-who" class="w-fit p-2 font-bold shadow-2xl bg-slate-200 rounded-md" onchange="handleClick(event)">
        <option value="student">Student</option>
        <option value="teacher">Teacher</option>
        <option value="staff">Staff</option>
      </select>
      <select name="" id="in-out-option" onchange="handleInOut(event)" class="ml-4 p-2 font-bold bg-slate-300 shadow-2xl rounded-md">
        <option value="in_times" selected>IN</option>
        <option value="out_times">OUT</option>
      </select>
      <div class="w-full flex justify-end">
        <input type="text" name="" id="search-teacher-name-field" placeholder="Teacher name...." class="p-1 rounded-md m-2 text-sm" onchange="search_teacher()">
      </div>
    </section>
    <section class="w-full h-4/5 bg-slate-200 rounded-xl overflow-scroll">
      <table class="w-full">
        <thead>
          <tr>
            <th class="text-center p-2 border-b border-slate-400">#</th>
            <th class="text-center p-2 border-b border-slate-400">PROFILE</th>
            <th class="text-center p-2 border-b border-slate-400">NAME</th>
            <th class="text-center p-2 border-b border-slate-400">IS_WHO</th>
            <th class="text-center p-2 border-b border-slate-400">TIME</th>
            <th class="text-center p-2 border-b border-slate-400">Actions</th>
          </tr>
        </thead>
        <tbody>
          
  
        </tbody>
      </table>
    </section>
    <!-- times -->
     <section class="hidden" id="show-time">
        
     </section>
    <!-- <section id="pignation" class="fixed bottom-5 right-10">
      <button class="bg-slate-300 text-slate-400 pt-2 pb-2 pr-4 pl-4 rounded-md"
        onclick="previousRows(event)">Previous</button>
      <button class="bg-slate-300 text-slate-800 pt-2 pb-2 pr-4 pl-4 rounded-md bg-sky-400" onclick="nextRows(event)"
        id="prev-btn">Next</button>
    </section> -->
  </div>
  
  <script src="{{ url_for('static', filename='js/passes.js' )}}"></script>
  <script src="{{ url_for('static', filename='js/ViewInfo.js' )}}"></script>