<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campus Management System</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css' )}}"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="tab">
      <button
        class="tablinks"
        onclick="openNav(event, 'Dashboard')"
        id="defaultOpen"
      >
        Dashboard
      </button>
      <button class="tablinks" onclick="openNav(event, 'Gate')" id="gate-section">Gate</button>
      <button
        class="tablinks"
        id="list-section"
        onclick="openNav(event, 'List')"
      >
        List
      </button>
      <!-- <button class="tablinks" onclick="openNav(event, 'Control')">
        Control
      </button> -->
      <button class="tablinks" onclick="logout()">Logout</button>
    </div>

    <div class="search">
      <input type="text" placeholder="Search.." name="search2" />
      <button type="search"><i class="fa fa-search"></i></button>
    </div>
    <!-- search -->
    <div id="Gate" class="tabcontent">
      <div class="container">
        <div class="center">
          <button
            class="button button1"
            onclick="openCampusSection('CampusIn', 'Gate')"
            id="defaultOpenGate"
          >
            Campus In
          </button>
          <button
            class="button button1"
            onclick="openCampusSection('CampusOut', 'Gate')"
          >
            Campus Out
          </button>
        </div>
        <div class="search-by-date">
          <label for="search-by-date">Search: </label>
          <input type="date" name="date" id="search-by-date" onchange="searchPass()">
        </div>
      </div>

      <div id="CampusIn" class="container-campus campus-section">
        <h2>Campus In</h2>
        <table>
          <thead>
            <tr>
            <th>ID</th>
            <th>PIC</th>
            <th>NAME</th>
            <th>Date</th>
            <th>Time</th>
          </tr>
          </thead>
          <tbody id="in-body">
          {% for campus in campus_passes %}
            {% if campus.in_time %}
             <tr>
              <td>{{ campus["pass_id"] }}</td>
              <td><img src='{{ campus["picture_uri"] }}' width="50" height="50" /></td>
              <td>{{ campus["name"] }}</td>
              <td>{{ campus["date"] }}</td>
              <td>{{ campus["in_time"] }}</td>
              <td><a href="">View</a></td>
             </tr>
            {% endif %}
          {% endfor %}
          </tbody>
          <!-- <tr>
            <td>2201</td>
            <td><img src="./fower.jpg" width="50" height="50" /></td>
            <td>Myat Phoo Pwint</td>
            <td>9.5.24</td>
            <td>11:00</td>
          </tr> -->
        </table>
        <!-- campus in -->
      </div>

      <div
        id="CampusOut"
        class="container-campus campus-section"
        style="display: none"
      >
        <h2>Campus Out</h2>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>PIC</th>
              <th>NAME</th>
              <th>Date</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody id="out-body">
            {% for campus in campus_passes %}
            {% if campus.out_time %}
             <tr>
              <td>{{ campus["pass_id"] }}</td>
              <td><img src='{{ campus["picture_uri"] }}' width="50" height="50" /></td>
              <td>{{ campus["name"] }}</td>
              <td>{{ campus["date"] }}</td>
              <td>{{ campus["out_time"] }}</td>
              <td><a href="">View</a></td>
             </tr>
            {% endif %}
          {% endfor %}
          </tbody>
          <!-- <tr>
            <td>2201</td>
            <td><img src="./fower.jpg" width="50" height="50" /></td>
            <td>Aae Ae</td>
            <td>9.5.24</td>
            <td>11:00</td>
          </tr> -->
        </table>
        <!-- campus out -->
      </div>
    </div>

    <div id="Dashboard" class="tabcontent">
      <h1>Today Passed Rate</h1>
      <div class="stat-container">
        <!-- Stat Boxes Here -->
        <div class="stat-box">
          <h3>Students</h3>
          <p>100%</p>
        </div>
        <div class="stat-box">
          <h3>Teachers</h3>
          <p>100%</p>
        </div>
        <div class="stat-box">
          <h3>Staffs</h3>
          <p>100%</p>
        </div>
        <div class="stat-box">
          <h3>Total</h3>
          <p>100%</p>
        </div>
      </div>

      <div class="articles-container">
        <div class="articles-header">
          <h2>Recent Visits</h2>
          <button class="view-all-btn" id="view-all" onclick="viewAll()">
            View All
          </button>
        </div>
        <table>
          <!-- Table Rows Here -->
          <tr>
            <th>ID</th>
            <th>PIC</th>
            <th>NAME</th>
            <th>DATE</th>
            <th>TIME</th>
          </tr>
          {% for recent in recent_pass %}
          <tr>
            <td>{{ recent["pass_id"] }}</td>
            <td><img src="{{ recent['picture_uri']}}" width="50" height="50" /></td>
            <td>{{ recent["name"] }}</td>
            <td>{{ recent["date"] }}</td>
            <td>{{ "In - " + recent["in_time"] if recent["in_time"] else "Out - "+  recent["out_time"] }}</td>
            <td><a href="">View</a></td>
          {% endfor %}
          <!-- <tr>
            <td>1</td>
            <td><img src="./fower.jpg" width="50" height="50" /></td>
            <td>Kyaw Kyaw</td>
            <td>14.5.24</td>
            <td>10:00</td>
          </tr> -->

          <!-- Add more rows as needed -->
        </table>
      </div>
    </div>
    <!-- dashboard data -->

    <div id="List" class="tabcontent">
      <div class="container">
        <div class="center">
          <button
            class="button button1"
            onclick="openCampusSection('Student', 'List')"
            id="defaultOpenList"
          >
            Student
          </button>
          <button
            class="button button1"
            onclick="openCampusSection('Teacher', 'List')"
          >
            Teacher
          </button>
          <button
            class="button button1"
            onclick="openCampusSection('Staff', 'List')"
          >
            Staff
          </button>
        </div>
      </div>
      <div id="Student" class="container-campus campus-section">
        <h1>Student</h1>
        <table>
          <tr>
            <th>ID</th>
            <th>PIC</th>
            <th>NAME</th>
            <th>ROLL NO.</th>
            <th>CURRENT_SEMESTER</th>
            <th>REGISTER DATE</th>
          </tr>

          {% for student in students %}
          <tr>
            <td>{{ student[0] }}</td>
            <td>
              <img src="{{ student[1] }}" width="50" height="50" />
            </td>
            <td>{{ student[2] }}</td>
            <td>{{ student[3] }}</td>
            <td>{{ student[4] }}</td>
            <td>{{ student[5].date() }}</td>
            <td><a href="">View</a></td>
          </tr>
          {% endfor %}
        </table>
        <!-- student views in list topic -->
      </div>

      <div
        id="Teacher"
        class="container-campus campus-section"
        style="display: none"
      >
        <h1>Teacher</h1>
        <table>
          <tr>
            <th>ID</th>
            <th>PIC</th>
            <th>NAME</th>
            <th>Department</th>
            <th>Position</th>
            <th>Register_Date</th>
          </tr>
          {% for teacher in teachers %}
          <tr>
            <td>{{ teacher[0] }}</td>
            <td>
              <img
                src="static/images/{{ teacher[1] }}"
                width="50"
                height="50"
              />
            </td>
            <td>{{ teacher[2] }}</td>
            <td>{{ teacher[3] }}</td>
            <td>{{ teacher[4] }}</td>
            <td>{{ teacher[5].date() }}</td>
          </tr>
          {% endfor %}
        </table>
        <!-- teacher in list topic -->
        <div id="Staff" class="container-campus campus-section" style="display: none;">
          <h1>Staff</h1>
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>PIC</th>
                <th>NAME</th>
                <th>NRC</th>
                <th>POSITION</th>
                <th>REGISTER DATE</th>
              </tr>
            </thead>
  
            {% for staff in staffs %}
            <tr>
              <td>{{ staff[0] }}</td>
              <td>
                <img src="{{ staff[1] }}" width="50" height="50" />
              </td>
              <td>{{ staff[2] }}</td>
              <td>{{ staff[3] }}</td>
              <td>{{ staff[4] }}</td>
              <td>{{ staff[5].date() }}</td>
            </tr>
            {% endfor %}
          </table>
        <!-- staff in list topic -->
      </div>
    </div>

    <div id="Control" class="tabcontent">
      <h1 class="state">Closed</h1>
      <div class="control">
        <div class="open" onclick="openFunc()">OPEN</div>
        <div class="close" onclick="closeFunc()">ClOSE</div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
