<div class="w-full h-full rounded-xl shadow-xl p-5">
    <h1 class="font-bold text-slate-400">Dashboard</h1>
    <div class="w-full flex justify-end">
      <input type="text" name="" id="roll-no" placeholder="ROLL NO." class="p-1 rounded-md m-2 text-sm">
    </div>
    <section class="w-full h-4/5 bg-slate-200 rounded-xl">
      <table class="w-full">
        <thead>
          <tr>
            <th class="text-center p-2 border-b border-slate-400">#</th>
            <th class="text-center p-2 border-b border-slate-400">Profile</th>
            <th class="text-center p-2 border-b border-slate-400">Name</th>
            <th class="text-center p-2 border-b border-slate-400">Semester</th>
            <th class="text-center p-2 border-b border-slate-400">Roll No.</th>
            <th class="text-center p-2 border-b border-slate-400">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center font-bold">1</td>
            <td class="text-center font-bold"><img src="../static/images/default.png" alt=""
                class="block w-20 h-20 bg-slate-300"></td>
            <td class="text-center font-bold">Phyoe Kyaw Than</td>
            <td class="text-center font-bold">4</td>
            <td class="text-center font-bold">3CS-12</td>
            <td class="text-center font-bold">
              <a href="" class="p-2 text-slate-200 rounded-md bg-red-600">Delete</a>
              <a href="" class="p-2 text-slate-200 rounded-md bg-sky-400">update</a>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <div class="flex w-full p-2 font-bold">
      <div class="w-1/2"><span>1</span> of 20</div>
      <div class="w-1/2 flex justify-end">
        <button class="bg-slate-200 pt-1 pb-1 pr-4 pl-4 rounded-md ml-2">Previous</button>
        <button class="bg-slate-200 pt-1 pb-1 pr-4 pl-4 rounded-md ml-2">Next</button>
      </div>
    </div>
  </div>